<!DOCTYPE html>
<html>

<head>
  <title>Pokédex</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="<%=darkMode ? 'dark-mode-main' : '' %>">
    <img src="/images/Logo.svg" width="50px;" alt="Logo" /><i class="logo"></i>
    <button type="button" alt="menu" class="hamburguer">
      <img src="/images/BurgenBtn.svg" alt="hamburguer-menu">
    </button>
    <nav class="navbar" id="navbar-desktop">
      <a href="#">Home
      </a>
      <a href="#">Pokédex
      </a>
      <a href="#">Legendaries
      </a>
      <a href="#">Documentation
      </a>
      </ul>
    </nav>

  </header>
  <main class="<%=darkMode ? 'dark-mode-main' : '' %>">
    <img src="/images/pikachu.svg" alt="Pikachu" />
    <div>
      <h1><strong>Find</strong> all your favorite <strong>Pokemon</strong></h1>
      <p>You can know the type of Pokemon, its strenghs, disadvantagens and abilities.</p>
      <a class="botao">See Pokemons</a>
    </div>
    <a href="dark-mode" class="botao-flutuante">
      <img src="/images/Pokeball2.svg" alt="pokebola">
    </a>
  </main>
</body>

</html>