<!DOCTYPE html>
<html>
  <head>
    <title>Pokédex</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div>
       <img src="../public/images/Logo.png" width="50px;" alt="logoPoke" /><i class="logoPoke"></i>
      </div>
      <nav class="itens-menu">
        <ul class="itens">
          <li><a>Home</a></li>
          <li><a>Pokédex</a></li>
          <li><a>Legendaries</a></li>
          <li><a>Documentation</a></li>
        </ul>
      </nav>
    </header>
    
  </body>
</html>
