<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <title>Login</title>
</head>

<body>
    <header>
        <img src="/public/images/Logo.svg" width="50px;" alt="Logo" /><i class="logo"></i>
        <button type="button" alt="menu" class="hamburguer">
            <img src="/public/images/BurgenBtn.svg" alt="hamburguer-menu">
        </button>
        <nav class="navbar" id="navbar-desktop">
            <a href="#">Home
            </a>
            <a href="#">Pokédex
            </a>
            <a href="#">Legendaries
            </a>
            <a href="#">Documentation
            </a>
            </ul>
        </nav>

    </header>
    <div class="align-row">
        <form method="get" class="form">

    </div>
    <br>

    <label for="usuario">Usuario:</label>
    <br>
    <input type="text" id="name" name="name" required class="formulario">
    <br>
    <label for="senha">Senha:</label>
    <br>
    <input type="password" id="password" name="password" required class="formulario">
    <br>

    <br>
    <div class="botoes-sigIn">
        <button type="button" class="entrar"><strong>Entrar</strong></button>
        <button type="button" class="limpar"><strong>Limpar</strong></button>
    </div>
    <br>

    </div>
</body>

</html>