* {
  font-family: 'Karla', sans-serif;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5DB13;
  padding: 10px;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  z-index: 1;
}

header>img {
  width: 64px;
}

header>button {
  background: none;
  cursor: pointer;
}

header>img {
  width: 128px;
  margin-left: 157px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background: linear-gradient(#F5DB13, #F2B807);
}

main>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 50px;
}

main>div>h1 {
  font-size: 72px;
  font-weight: normal;
  margin-bottom: 64px;
  padding: 15px 77px;
}

main>div>p {
  font-size: 32px;
  padding: 0 77px;
}

.navbar>a {
  font-size: 25px;
  margin: 0 158px 0 0;
  text-decoration: none;
  color: black;

}



.botao {
  background-color: rgba(115, 214, 119, 1);
  width: 231px;
  height: 66px;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  margin-top: 20px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: bold;

}

.navbar>a:hover {
  text-decoration: underline;
}

.hamburguer {
  display: none;
}

.cadastroLogin {
  border: none;
  background: linear-gradient(#F5DB13, #F2B807);
  color: black;
  width: 160px;
  height: 36px;
  font-size: 24px;
}

.login {
  border: none;
  background: linear-gradient(#F5DB13, #F2B807);
  color: black;
  width: 160px;
  height: 36px;
  font-size: 24px;
}

.formulario {
  border: none;
  width: 500px;
  height: 50px;
  border-radius: 38px;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;


}

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin: 25px auto;
  text-align: center;
}

.entrar {
  background-color: #F5DB13;
  color: black;
  width: 198px;
  height: 42px;
}

.botoes-sigIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin: 25px auto;
  text-align: center;
}

.limpar {
  background-color: #F5DB13;
  text-decoration-color: black;
  width: 198px;
  height: 42px;

}

button:hover {
  background-color: #F2B807;
}




.botao-flutuante {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  transition: all 1s;
}

.botao-flutuante>img {
  width: 100%;
}

.botao-flutuante:hover {
  width: 96px;
  height: 96px;
}

.dark-mode {
  background-color: gray;
}

.dark-mode>nav>a {
  color: white;
}

.dark-mode-main{
  background: linear-gradient(gray, black);
  color: white;
}



@media (max-width: 748px) {
  header {
    padding: 20px 10px;
  }

  header > img {
    width: 128px;
  }

  .navbar {
    display: none;
  }
}

@media (min-width: 749px) {
  .navbar {
    display: flex;
  }

  .hamburguer-menu {
    display: none;
  }
}

/* @media (min-width: 481px) {
header {
  padding: 20px 10px;
}

header > img {
  width: 128px;
}
}

@media(min-width:650px) {
  #navbar-desktop{
    display: none;
  }
  .hamburguer{
    display: block;
  }
} */